@import "tailwindcss";

@theme {
  --color-dark-bg: #0a0a0a;
  --color-dark-secondary: #1d1f21;
  --color-dark-tertiary: #3b3d40;
  --color-blue-primary: #0275ff;
  --color-stroke-dark: #2d3135;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  @apply h-full w-full text-sm bg-dark-bg;
  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


